extends layout

block stylesheets
  link(rel='stylesheet' href='/stylesheets/analysis-pie.css')

block content
  #container
    // 置頂列
    #header
      #menu_btn
        a(data-bs-toggle='offcanvas' href='#offcanvasExample' role='button' aria-controls='offcanvasExample')
          img(src='images/menu.svg' alt='')
      #title Punch in !
      #login_btn
        a(href='/user')
          img(src='images/user.svg' alt='')
    #offcanvasExample.offcanvas.offcanvas-start(tabindex='-1' aria-labelledby='offcanvasExampleLabel')
      #sideBar.list-group
        a#home.list-group-item.list-group-item-action(href='/index') Home
        a#today.list-group-item.list-group-item-action(href='/today') Today
        a#group.list-group-item.list-group-item-action(href='/group') Group
        a#today.list-group-item.list-group-item-action(href='/exercise') Exercise
        a#today.list-group-item.list-group-item-action(href='/study') Study
        a#analysis.list-group-item.list-group-item-action.active(href='/analysis') Analysis
        a#about.list-group-item.list-group-item-action(href='/about') About us
    // 內容
    if username
      #main
        h3 時間圓餅圖
    else
      #guest
        .row
          h3 目前無法進行時間分析
            br
            | 登入後以進行數據分析
        .row
          p 還沒有帳號嗎？
            a.link_css(href='/sign-up') 註冊帳號
        .row
          p 已經有帳號了！
            a.link_css(href='/login') 立即登入

block javascripts