extends layout

block stylesheets
  link(rel='stylesheet' href='/stylesheets/analysis-line.css')

block content
  #container
    // 置頂列
    #header
      #menu_btn
        a(data-bs-toggle='offcanvas' href='#offcanvasExample' role='button' aria-controls='offcanvasExample')
          img(src='images/menu.svg' alt='')
      #title Punch in !
      #login_btn
        a(href='/user')
          if username 
            img(src=`images/${data.photo}.png` alt='')
          else
            img(src='images/user.svg' alt='')
    #offcanvasExample.offcanvas.offcanvas-start(tabindex='-1' aria-labelledby='offcanvasExampleLabel')
      #sideBar.list-group
        a#home.list-group-item.list-group-item-action(href='/index') Home
        a#today.list-group-item.list-group-item-action(href='/todayList') Today List
        a#today.list-group-item.list-group-item-action(href='/habit') Habit
        a#today.list-group-item.list-group-item-action(href='/exercise') Exercise
        a#today.list-group-item.list-group-item-action(href='/study') Study
        a#analysis.list-group-item.list-group-item-action.active(href='/analysis') Analysis
        a#about.list-group-item.list-group-item-action(href='/about') About us
    // 內容
    if username
      #main
        h1 打卡完成率
        .row
          img#char-image(src="images/bar-chart.svg", alt="chart") 
        #text.row
          #habit_box.part_box.col-3
              h3 我的習慣
              p#total_habit.total_item 總共有 0 項
              p#done_habit.done_item 已完成: 0項
              p#undone_habit.undone_item 未完成: 0項
              p#rate_habit.rate_item 完成率: 0%
          #exercise_box.part_box.col-3
              h3 運動目標
              p#total_exercise.total_item 總共有 0 項
              p#done_exercise.done_item 已完成: 0項
              p#undone_exercise.undone_item 未完成: 0項
              p#rate_exercise.rate_item 完成率: 0%
          #study_box.part_box.col-3
              h3 學習目標
              p#total_study.total_item 總共有 0 項
              p#done_study.done_item 已完成: 0項
              p#undone_study.undone_item 未完成: 0項
              p#rate_study.rate_item 完成率: 0%
    else
      #guest
        .row
          h3 目前無法進行打卡分析
            br
            | 登入後以進行數據分析
        .row
          p 還沒有帳號嗎？
            a.link_css(href='/sign-up') 註冊帳號
        .row
          p 已經有帳號了！
            a.link_css(href='/login') 立即登入

block javascripts
    script(src='/javascripts/analysis-line.js')