extends layout

block stylesheets
  link(rel='stylesheet' href='/stylesheets/habit.css')

block content
  #container
    // 置頂列
    #header
      #menu_btn
        a(data-bs-toggle='offcanvas' href='#offcanvasExample' role='button' aria-controls='offcanvasExample')
          img(src='images/menu.svg' alt='')
      #title Punch in !
      #login_btn
        a(href='/user')
          if username 
            img(src=`images/${data.photo}.png` alt='')
          else
            img(src='images/user.svg' alt='')
      #offcanvasExample.offcanvas.offcanvas-start(tabindex='-1' aria-labelledby='offcanvasExampleLabel')
        #sideBar.list-group
          a#home.list-group-item.list-group-item-action(href='/index') Home
          a#today.list-group-item.list-group-item-action(href='/todayList') Today List
          //- a#group.list-group-item.list-group-item-action(href='/group') Group
          a#today.list-group-item.list-group-item-action.active(href='/habit') Habit
          a#today.list-group-item.list-group-item-action(href='/exercise') Exercise
          a#today.list-group-item.list-group-item-action(href='/study') Study
          a#analysis.list-group-item.list-group-item-action(href='/analysis') Analysis
          a#about.list-group-item.list-group-item-action(href='/about') About us
    // 內容
    #main
        h1#habit_title 我的習慣
          img#title_img(src="images/habit.svg", alt="habit")
        #add_habit_box
            label(for="add_habit") 我的習慣
            input(type="text" id="add_habit" name="add_habit" placeholder="新增習慣")
            label(for="count") 次數 
            select#add_habit_count(name='add_habit_count')
                option(value='1' selected='') 1次
                option(value='2') 2次
                option(value='3') 3次
                option(value='4') 4次
                option(value='5') 5次
                option(value='6') 6次
                option(value='7') 7次
                option(value='8') 8次
            button#add_habit_btn(type="button" onclick="addHabit()") +
        #group_list
            #todo_title
              | 未完成:
              strong#todo-item-amount 1
              | 項
            #todo_container
              .item.timer
                .checkbox
                  img(src='images/check.svg' alt='')
                .item_name 習慣項目
                .item_edit 
                    button#btnEdit.btn_more(type='button')
                        img(src='images/edit.svg' alt='edit')
                .item_update 
                    button#btnUpdate.btn_more(type='button')
                        img(src='images/update.svg' alt='update')
                .item_delete
                    button#btnDelete.btn_more(type='button')
                        img(src='images/delete.svg' alt='')
                
          
        
        #done_title
          | 已完成:
          strong#done-item-amount 0
          | 項
        #done_container
          

block javascripts
    script(src='/javascripts/habit.js')