extends layout

block stylesheets
  link(rel='stylesheet' href='/stylesheets/index.css')

block content
  #container
    // 置頂列
    #header
      #menu_btn
        a(data-bs-toggle='offcanvas' href='#offcanvasExample' role='button' aria-controls='offcanvasExample')
          img(src='images/menu.svg' alt='')
      #title Punch in !
      #login_btn
        a(href='/user')
          img(src='images/user.svg' alt='')
    #offcanvasExample.offcanvas.offcanvas-start(tabindex='-1' aria-labelledby='offcanvasExampleLabel')
      #sideBar.list-group
        a#home.list-group-item.list-group-item-action.active(href='/index') Home
        a#today.list-group-item.list-group-item-action(href='/today') Today
        a#group.list-group-item.list-group-item-action(href='/group') Group
        a#today.list-group-item.list-group-item-action(href='/exercise') Exercise
        a#today.list-group-item.list-group-item-action(href='/study') Study
        a#analysis.list-group-item.list-group-item-action(href='/analysis') Analysis
        a#about.list-group-item.list-group-item-action(href='/about') About us
    
    // 內容
    #status
      if username
        p 目前身分：#{username}
      else
        p 目前身分：訪客
    #main
      .row
        a(href='/today')
          button#my_habit.my_btn(type='button') 我的習慣
      .row
        a(href='/group')
          button#my_group.my_btn(type='button') 我的群組
      .row
        a(href='/exercise')
          button#my_exercise.my_btn(type='button') 運動目標
      .row
        a(href='/study')
          button#my_study.my_btn(type='button') 學習目標
      .row
        a(href='/analysis')
          button#my_analysis.my_btn(type='button') 習慣分析

block javascripts

