extends layout

block stylesheets
  link(rel='stylesheet' href='/stylesheets/login.css')

block content
    #container
        // 置頂列
        #header
            #menu_btn
                a(data-bs-toggle='offcanvas' href='#offcanvasExample' role='button' aria-controls='offcanvasExample')
                    img(src='images/menu.svg' alt='')
            #title Punch in !
            #login_btn
                a(href='/user')
                    img(src='images/user.svg' alt='')
            #offcanvasExample.offcanvas.offcanvas-start(tabindex='-1' aria-labelledby='offcanvasExampleLabel')
                #sideBar.list-group
                    a#home.list-group-item.list-group-item-action.active(href='/index') Home
                    a#today.list-group-item.list-group-item-action(href='/todayList') Today List
                    //- a#group.list-group-item.list-group-item-action(href='/group') Group
                    a#today.list-group-item.list-group-item-action(href='/habit') Habit
                    a#today.list-group-item.list-group-item-action(href='/exercise') Exercise
                    a#today.list-group-item.list-group-item-action(href='/study') Study
                    a#analysis.list-group-item.list-group-item-action(href='/analysis') Analysis
                    a#about.list-group-item.list-group-item-action(href='/about') About us
        
        // 登入
        #login_box
            h1 帳號登入
            form(action="/user/login", method="post") 
              #login_account
                label(for="username") 帳號
                input(type='text' placeholder='請輸入帳號' id="username" name="username")
              #login_password
                label(for="password") 密碼
                input(type='password' placeholder='請輸入密碼' id="password" name="password")
              div
                input#login_submit(type='submit' value='登入')
              #login_more
                p 還沒有帳號嗎？
                  a(href='/sign-up') 立即註冊

block javascripts