extends layout

block stylesheets
  link(rel='stylesheet' href='/stylesheets/study.css')

block content
  #container
    // 置頂列
    #header
      #menu_btn
        a(data-bs-toggle='offcanvas' href='#offcanvasExample' role='button' aria-controls='offcanvasExample')
          img(src='images/menu.svg' alt='')
      #title Punch in !
      #login_btn
        a(href='/user')
          if username 
            img(src=`images/${data.photo}.png` alt='')
          else
            img(src='images/user.svg' alt='')
      #offcanvasExample.offcanvas.offcanvas-start(tabindex='-1' aria-labelledby='offcanvasExampleLabel')
        #sideBar.list-group
          a#home.list-group-item.list-group-item-action(href='/index') Home
          a#today.list-group-item.list-group-item-action(href='/todayList') Today List
          //- a#group.list-group-item.list-group-item-action(href='/group') Group
          a#today.list-group-item.list-group-item-action(href='/habit') Habit
          a#today.list-group-item.list-group-item-action(href='/exercise') Exercise
          a#today.list-group-item.list-group-item-action.active(href='/study') Study
          a#analysis.list-group-item.list-group-item-action(href='/analysis') Analysis
          a#about.list-group-item.list-group-item-action(href='/about') About us
    // 內容
    #main
        h1#study_title 學習目標
          img#title_img(src="images/study.svg", alt="study")
        #add_study_box
            label(for="add_study") 我的學習目標
            input(type="text" id="add_study" name="add_study" placeholder="新增學習目標")
            button#add_study_btn(type="button" onclick="addStudy()") +
        #group_list
            #todo_title
              | 未完成:
              strong#todo-item-amount 1
              | 項
            #todo_container
              .item.timer
                .checkbox
                  img(src='images/check.svg' alt='')
                .item_name 學習項目
                .timeDisplay 00:00:00
                .item_edit 
                    button#btnEdit.btn_more(type='button')
                        img(src='images/edit.svg' alt='edit')
                .item_update 
                    button#btnUpdate.btn_more(type='button')
                        img(src='images/update.svg' alt='update')
                .item_delete
                    button#btnDelete.btn_more(type='button')
                        img(src='images/delete.svg' alt='')
                .show 
                    button(onclick="showDialog()") 
                        img(src='images/clock.svg' alt='')
                    #dialog 
                      #title 計時器
                      #display 00:00:00
                      #timeArea 
                        button.startStop(onclick="startStop()") 開始
                        button.reset(onclick="reset()") 重設 
                        button.time-save(onclick="hideDialog()") 儲存
                  

          
        
        #done_title
          | 已完成:
          strong#done-item-amount 0
          | 項
        #done_container
          

block javascripts
    script(src='/javascripts/study.js' type="text/javascript")