extends layout

block stylesheets
  link(rel='stylesheet' href='/stylesheets/today.css')

block content
  #container
    // 置頂列
    #header
      #menu_btn
        a(data-bs-toggle='offcanvas' href='#offcanvasExample' role='button' aria-controls='offcanvasExample')
          img(src='images/menu.svg' alt='')
      #title Punch in !
      #login_btn
        a(href='/user')
          img(src='images/user.svg' alt='')
      #offcanvasExample.offcanvas.offcanvas-start(tabindex='-1' aria-labelledby='offcanvasExampleLabel')
        #sideBar.list-group
          a#home.list-group-item.list-group-item-action(href='/index') Home
          a#today.list-group-item.list-group-item-action.active(href='/today') Today
          a#group.list-group-item.list-group-item-action(href='/group') Group
          a#today.list-group-item.list-group-item-action(href='/habit') Habit
          a#today.list-group-item.list-group-item-action(href='/exercise') Exercise
          a#today.list-group-item.list-group-item-action(href='/study') Study
          a#analysis.list-group-item.list-group-item-action(href='/analysis') Analysis
          a#about.list-group-item.list-group-item-action(href='/about') About us
    // 內容
    #main
      #group_list
        #todo_title
          | 未完成:
          strong#todo-item-amount 3
          | 項
        #todo_container
          .item.timer
            .checkbox
              img(src='images/check.svg' alt='')
            .item_name 項目1
            #timerBtn
              .accordion-item
                h2#flush-headingOne.accordion-header
                  .d-grid.gap-2.d-md-flex.justify-content-md-end
                    button.btn.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#flush-collapseOne' aria-expanded='false' aria-controls='flush-collapseOne')
                      img(src='images/clock.svg' alt='')
                #flush-collapseOne.accordion-collapse.collapse(aria-labelledby='flush-headingOne' data-bs-parent='#accordionFlushExample')
                  .accordion-body
                    #timeDisplay 00:00:00
                    .time-area
                      button#startStop.time_button(onclick='startStop()') Start
                      button#reset.time_button(onclick='reset()') Reset
          .item.period
            .checkbox
              span.num 0
            .item_name 項目2
          .item.timer
            .checkbox
              img(src='images/check.svg' alt='')
            .item_name 項目3
            #timerBtn
              .accordion-item
                h2#flush-headingOne.accordion-header
                  .d-grid.gap-2.d-md-flex.justify-content-md-end
                    button.btn.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#flush-collapseOne' aria-expanded='false' aria-controls='flush-collapseOne')
                      img(src='images/clock.svg' alt='')
                #flush-collapseOne.accordion-collapse.collapse(aria-labelledby='flush-headingOne' data-bs-parent='#accordionFlushExample')
                  .accordion-body
                    #timeDisplay 00:00:00
                    .time-area
                      button#startStop.time_button(onclick='startStop()') Start
                      button#reset.time_button(onclick='reset()') Reset
        #done_title
          | 已完成:
          strong#done-item-amount 2
          | 項
        #done_container
          .item.timer.done-item
            .checkbox
              img(src='images/check.svg' alt='')
            .item_name 項目4
            #timerBtn 00:30
          .item.timer.done-item
            .checkbox
              img(src='images/check.svg' alt='')
            .item_name 項目5
            #timerBtn 00:50

block javascripts
    script(src='/javascripts/today.js')