extends layout

block stylesheets
  link(rel='stylesheet' href='/stylesheets/todayList.css')

block content
  #container
    // 置頂列
    #header
      #menu_btn
        a(data-bs-toggle='offcanvas' href='#offcanvasExample' role='button' aria-controls='offcanvasExample')
          img(src='images/menu.svg' alt='')
      #title Punch in !
      #login_btn
        a(href='/user')
          img(src='images/user.svg' alt='')
      #offcanvasExample.offcanvas.offcanvas-start(tabindex='-1' aria-labelledby='offcanvasExampleLabel')
        #sideBar.list-group
          a#home.list-group-item.list-group-item-action(href='/index') Home
          a#today.list-group-item.list-group-item-action.active(href='/todayList') Today List
          //- a#group.list-group-item.list-group-item-action(href='/group') Group
          a#today.list-group-item.list-group-item-action(href='/habit') Habit
          a#today.list-group-item.list-group-item-action(href='/exercise') Exercise
          a#today.list-group-item.list-group-item-action(href='/study') Study
          a#analysis.list-group-item.list-group-item-action(href='/analysis') Analysis
          a#about.list-group-item.list-group-item-action(href='/about') About us
    // 內容
    #main
        h1#todayList_title Today List
          img#title_img(src="images/today.svg", alt="todayList")
        #habit_box.part_box 
            h3 我的習慣
            p#total_habit.total_item 總共有 0 項
            p#done_habit.done_item 已完成: 0項
            p#undone_habit.undone_item 未完成: 0項
        #exercise_box.part_box
            h3 運動目標
            p#total_exercise.total_item 總共有 0 項
            p#done_exercise.done_item 已完成: 0項
            p#undone_exercise.undone_item 未完成: 0項
        #study_box.part_box
            h3 學習目標
            p#total_study.total_item 總共有 0 項
            p#done_study.done_item 已完成: 0項
            p#undone_study.undone_item 未完成: 0項
      

block javascripts
    script(src='/javascripts/todayList.js')