#about_title{
    text-align: center;
    font-weight: bold;
    margin: 30px auto 0px auto;
    color: rgb(37, 37, 37);
}
#title_img{
    width: 40px;
    height: 40px;
    margin: 5px;
}
.part{
    width: 500px;
    height: 100%;
    text-align: center;
    background-color: whitesmoke;
    margin: 25px auto 10px auto;
    padding: 10px;
    border-radius: 20px;
}
.sub_title{
    padding: 10px 0px 10px 0px;
    text-align: center;
    font-weight: bold;
    font-size: 28px;
    color: rgb(144, 146, 115);
}
.sub_content{
    padding: 0px 50px 10px 50px;
    font-weight: bolder;
    font-size: 18px;
    color: rgb(85, 85, 81);
    text-align: center;
}
.project_member{
    color: rgb(85, 85, 81);
}
.project_member img{
    margin: 5px;
}
