#main h1{
    text-align: center;
    margin: 30px  auto;
    font-weight: bold;
    color: rgb(54, 54, 54);
}
#char-image{
    width: 450px;
    height: 450px;
    margin: 30px auto;
    padding: 50px;
    background-color: ghostwhite;
    border-radius: 20px;
}
#guest{
    text-align: center;
    margin: 30px  auto;
}
#guest h3{
    color: brown;
    font-size: 30px;
    font-weight: bold;
    padding: 20px;
    background-color: ghostwhite;
    border-radius: 10px;
}
#guest p{
    color: dimgray;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    margin: 10px;
}
#guest a{
    color: slategray;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
}