#main h1{
    text-align: center;
    margin: 30px  auto;
    font-weight: bold;
    color: rgb(54, 54, 54);
}
#char-image{
    width: 450px;
    height: 450px;
    margin: 30px auto;
    padding: 50px;
    background-color: ghostwhite;
    border-radius: 20px;
}
#guest{
    text-align: center;
    margin: 30px  auto;
}
#guest h3{
    color: peru;
    font-size: 30px;
    font-weight: bold;
    padding: 20px;
    background-color: ghostwhite;
    border-radius: 10px;
}
#guest p{
    color: dimgray;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    margin: 10px;
}
#guest a{
    color: slategray;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
}

#text{
    justify-content: center;
}
.part_box{
    text-align: center;
    /* background-color: whitesmoke; */
    margin: 40px auto;
    width: 80%;
    height: 250px;
    /* margin: 0;
    padding: 0;
    border-radius: 20px; */
}
#main h3{
    font-weight: bold;
    /* margin: 10px; */
    align-self: center;
    /* padding: 30px; */
    /* color: rgb(192, 142, 85); */
}
/* .total_item, .done_item, .undone_item{
    font-size: 18px;
    font-weight: bold;
    margin: 20px auto;
} */
.rate_item{
    margin: 0 auto;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    /* background-color: rgb(134, 119, 86); */
    color: white;
    font-size: 400%;
    padding: 50px 0;
    text-align: center;
    align-self: center;
    /* float: right; */
}
#title_habit{
    color: rgb(134, 119, 86);
}
#title_exercise{
    color: rgb(206, 181, 68);
}
#title_study{
    color: rgb(134, 155, 110);
}
#rate_habit{
    background-color: rgb(223, 216, 208);
    color: rgb(134, 119, 86);
}
#rate_exercise{
    background-color: rgb(241, 237, 206);
    color: rgb(206, 181, 68);
}
#rate_study{
    background-color: rgb(218, 231, 200);
    color: rgb(134, 155, 110);
}

/* 20220110 */
#title_img{
    width: 40px;
    height: 40px;
    margin: 5px;
}