.analysis_btn{
    width: 200px;
    height: 200px;
    border: 0px;
    border-radius: 100px;
    margin: auto;
    margin-top: 50px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    background-color: ghostwhite;
    color: slategrey;
}
.analysis_btn:hover{
    background-color: slategray;
    color: ghostwhite;
}
.analysis_btn:active{
    background-color: whitesmoke;
    color: slategray;
}
.link_css{
    text-align: center;
}
#guest{
    text-align: center;
    margin: 30px  auto;
}
#guest h3{
    color: sienna;
    font-size: 30px;
    font-weight: bold;
    padding: 20px;
    background-color: ghostwhite;
    border-radius: 10px;
}
#guest p{
    color: dimgray;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    margin: 10px;
}
#guest a{
    color: slategray;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
}