#analysis_title{
    height: 50px;
    text-align: center;
    font-weight: bold;
    margin: 30px auto 10px auto;
    color: rgb(37, 37, 37);
}
#title_img{
    width: 40px;
    height: 40px;
    margin: 5px;
}
.analysis_btn{
    width: 350px;
    height: 350px;
    border: 0px;
    border-radius: 50px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    background-color: ghostwhite;
    color: slategrey;
}
.analysis_btn img{
    height: 200px;
    width: 200px;
    margin: 10px auto;
    padding: 10px;
}
.analysis_btn:hover{
    background-color: slategray;
    color: ghostwhite;
}
.analysis_btn:active{
    background-color: whitesmoke;
    color: slategray;
}

.link_css{
    text-align: center;
}
#guest{
    height: 1015px;
    text-align: center;
    margin:0 auto;
    padding-top: 50px;
}
#guest h3{
    color: sienna;
    font-size: 30px;
    font-weight: bold;
    padding: 20px;
    background-color: ghostwhite;
    border-radius: 10px;
}
#guest p{
    color: dimgray;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    margin: 10px;
}
#guest a{
    color: slategray;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
}