/* 登入視窗 */
#login_box{
    border: 2px solid gray;
    border-radius: 30px;
    margin: 50px auto;
    padding: 20px 0;
    width: 60%;
    min-width: 300px;
    /* height: 300px; */
    text-align: center;
    background-color: rgba(255, 255, 255, 0.35);
}
#login_box h1{
    font-weight: 600;
    color: rgb(51, 51, 51);
}
#login_box label{
    font-size: 18px;
    margin: 5px;
}
#login_account, #login_password{
    margin: 10px;
}
#login_submit{
    font-weight: bold;
    width: 60px;
    height: 40px;
    padding: 5px;
    margin: 15px;
    color: whitesmoke;
    background-color: dimgray;
    border-radius: 10px;
}
#login_more{
    display: inline-flex;
}
#login_more a{
    color: slategray;
    margin: 10px;
}
h1{
    padding: 10px;
    color: rgb(56, 56, 56);
}