/* 20220106 */
#todayList_title{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    margin: 30px auto 0px auto;
    color: rgb(37, 37, 37);
}
#title_img{
    width: 40px;
    height: 40px;
    margin: 5px;
}
.part_box{
    width: 500px;
    height: 250px;
    text-align: center;
    background-color: whitesmoke;
    margin: 40px auto;
    padding: 30px;
    border-radius: 20px;
}
#main h3{
    font-weight: bold;
    margin: 10px;
    color: rgb(192, 142, 85);
}
.total_item, .done_item, .undone_item{
    font-size: 18px;
    font-weight: bold;
    margin: 20px auto;
}